<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23">
                            <path fill="#f35325" d="M1 1h10v10H1z" />
                            <path fill="#81bc06" d="M12 1h10v10H12z" />
                            <path fill="#05a6f0" d="M1 12h10v10H1z" />
                            <path fill="#ffba08" d="M12 12h10v10H12z" />
                        </svg>
                        <span><%- lang('loginOptions.loginWithMicrosoft') %></span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionCracked" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 30 30" version="1.1">
                            <g id="surface1">
                                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(88.627452%,95.294118%,98.823529%);fill-opacity:1;" d="M 9.152344 11.027344 C 9.109375 11.070312 9.082031 11.277344 9.082031 11.550781 C 9.082031 12.191406 9.074219 12.1875 10.113281 12.1875 L 10.957031 12.1875 L 10.957031 15.546875 C 10.957031 18.078125 10.972656 18.917969 11.027344 18.972656 C 11.074219 19.019531 11.347656 19.042969 11.875 19.042969 C 12.609375 19.042969 12.65625 19.035156 12.742188 18.914062 C 12.820312 18.796875 12.832031 18.375 12.832031 15.484375 L 12.832031 12.1875 L 13.679688 12.1875 C 14.679688 12.1875 14.707031 12.171875 14.707031 11.570312 C 14.707031 11.347656 14.675781 11.171875 14.617188 11.085938 L 14.523438 10.957031 L 11.875 10.957031 C 9.890625 10.957031 9.203125 10.976562 9.152344 11.027344 M 16.03125 11.050781 C 15.949219 11.128906 15.9375 11.492188 15.9375 14.148438 C 15.9375 16.984375 15.945312 17.175781 16.054688 17.527344 C 16.261719 18.195312 16.824219 18.761719 17.476562 18.953125 C 17.867188 19.070312 20.734375 19.085938 20.847656 18.972656 C 20.894531 18.925781 20.917969 18.652344 20.917969 18.125 C 20.917969 17.390625 20.910156 17.34375 20.789062 17.257812 C 20.679688 17.183594 20.4375 17.167969 19.328125 17.167969 C 18.195312 17.167969 17.984375 17.152344 17.90625 17.074219 C 17.824219 16.996094 17.8125 16.640625 17.8125 14.0625 C 17.8125 11.484375 17.800781 11.128906 17.71875 11.050781 C 17.585938 10.914062 16.164062 10.914062 16.03125 11.050781 "/>
                                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(17.254902%,70.588237%,95.686275%);fill-opacity:1;" d="M 5.539062 3.832031 C 4.851562 4.050781 4.273438 4.554688 3.96875 5.199219 L 3.78125 5.59375 L 3.78125 24.40625 L 3.96875 24.800781 C 4.214844 25.324219 4.675781 25.785156 5.199219 26.03125 L 5.59375 26.21875 L 24.40625 26.21875 L 24.800781 26.03125 C 25.324219 25.785156 25.785156 25.324219 26.03125 24.800781 L 26.21875 24.40625 L 26.21875 5.59375 L 26.039062 5.214844 C 25.773438 4.65625 25.390625 4.265625 24.855469 4 L 24.410156 3.78125 L 15.089844 3.769531 C 7.675781 3.757812 5.722656 3.773438 5.539062 3.832031 M 9.152344 11.027344 C 9.109375 11.070312 9.082031 11.277344 9.082031 11.550781 C 9.082031 12.191406 9.074219 12.1875 10.113281 12.1875 L 10.957031 12.1875 L 10.957031 15.546875 C 10.957031 18.078125 10.972656 18.917969 11.027344 18.972656 C 11.074219 19.019531 11.347656 19.042969 11.875 19.042969 C 12.609375 19.042969 12.65625 19.035156 12.742188 18.914062 C 12.820312 18.796875 12.832031 18.375 12.832031 15.484375 L 12.832031 12.1875 L 13.679688 12.1875 C 14.679688 12.1875 14.707031 12.171875 14.707031 11.570312 C 14.707031 11.347656 14.675781 11.171875 14.617188 11.085938 L 14.523438 10.957031 L 11.875 10.957031 C 9.890625 10.957031 9.203125 10.976562 9.152344 11.027344 M 16.03125 11.050781 C 15.949219 11.128906 15.9375 11.492188 15.9375 14.148438 C 15.9375 16.984375 15.945312 17.175781 16.054688 17.527344 C 16.261719 18.195312 16.824219 18.761719 17.476562 18.953125 C 17.867188 19.070312 20.734375 19.085938 20.847656 18.972656 C 20.894531 18.925781 20.917969 18.652344 20.917969 18.125 C 20.917969 17.390625 20.910156 17.34375 20.789062 17.257812 C 20.679688 17.183594 20.4375 17.167969 19.328125 17.167969 C 18.195312 17.167969 17.984375 17.152344 17.90625 17.074219 C 17.824219 16.996094 17.8125 16.640625 17.8125 14.0625 C 17.8125 11.484375 17.800781 11.128906 17.71875 11.050781 C 17.585938 10.914062 16.164062 10.914062 16.03125 11.050781 "/>
                            </g>
                        </svg>
                        <span><%- lang('loginOptions.loginCracked') %></span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>